<div class="star-component star-color__{{ block.id }}" >
  {% for i in (1..star_count) %}
    <svg width="{{ width }}" height="{{ width }}" viewBox="0 0 30 31" class="star-icon" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="_R_3ahol3it6_" x1="0" x2="100%" y1="0" y2="0"><stop offset="100%" stop-color="#46DE46"></stop><stop offset="100%" stop-color="#E0E2E2"></stop></linearGradient>
      </defs>
      <path d="M14.5245 1.59146C14.6741 1.1308 15.3259 1.1308 15.4755 1.59145L18.2555 10.1472C18.3224 10.3532 18.5144 10.4927 18.731 10.4927H27.727C28.2114 10.4927 28.4128 11.1125 28.0209 11.3972L20.743 16.6849C20.5677 16.8122 20.4944 17.0379 20.5613 17.2439L23.3413 25.7997C23.4909 26.2603 22.9637 26.6434 22.5718 26.3587L15.2939 21.0709C15.1186 20.9436 14.8814 20.9436 14.7061 21.0709L7.42817 26.3587C7.03631 26.6434 6.50907 26.2603 6.65875 25.7997L9.43867 17.2439C9.50561 17.0379 9.43228 16.8122 9.25704 16.6849L1.9791 11.3972C1.58725 11.1125 1.78863 10.4927 2.27299 10.4927H11.269C11.4856 10.4927 11.6776 10.3532 11.7445 10.1472L14.5245 1.59146Z" fill="url(#_R_3ahol3it6_)">
      </path>
    </svg>
  {% endfor %}
</div>